 <!-- navbar -->
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper blue darken-3 ">
        <a href="#!" class="brand-logo"><i class="material-icons">polymer</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="waves-effect waves-light btn href="index.html.erb" style="color: black; background-color: #2196f3">Home Page</a></li>
          <li><a class="waves-effect waves-light btn href="contact.html.erb" style="color: black; background-color: #2196f3">Contact</a></li>
          <li><a class="waves-effect waves-light btn href="about.html.erb" style="color: black; background-color: #2196f3">About</a></li>
          <li><a class="waves-effect waves-light btn href="https://polymervideos.herokuapp.com/videos" style="color: black; background-color: #2196f3">Videos</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  <!--end of navbar -->
